<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crossdev.quickdrop">
    <!-- Permiso de conexión a Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permiso para usar la red de WiFi o datos móviles -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permiso para acceder a la ubicación precisa (GPS) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Permiso para acceder a la ubicación aproximada -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Permiso para mostrar notificaciones -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Permiso para usar la vibración -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:label="Quickdrop"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <meta-data android:name="flutter_deeplinking_enabled" android:value="true" />
            <meta-data
                android:name="com.google.android.gms.client_id"
                android:value="@string/default_web_client_id" />

            <!-- Tema normal de Android para esta actividad -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Intent principal para lanzar la aplicación -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Intent para manejar deep links con esquema personalizado -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="quickdrop" android:host="open"
                    android:pathPattern="/product/.*" />
            </intent-filter>

        </activity>

        <!-- Meta-data de Flutter -->
        <!-- <meta-data
            android:name= "io.flutter.embedding.android.EnableImpeller"
            android:value= "false" /> -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>